#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_build:

override_dh_auto_install:
	install -Dpm755 -d debian/tmp/usr/bin
	install -Dpm755 -d debian/tmp/usr/share/bash-completion/completions
	install -Dpm755 -d debian/tmp/usr/share/doc/git-flow/hooks
	install -Dpm755 -t debian/tmp/usr/bin git-flow
	install -Dpm644 -t debian/tmp/usr/bin git-flow-bugfix
	install -Dpm644 -t debian/tmp/usr/bin gitflow-common
	install -Dpm644 -t debian/tmp/usr/bin git-flow-config
	install -Dpm644 -t debian/tmp/usr/bin git-flow-feature
	install -Dpm644 -t debian/tmp/usr/bin git-flow-hotfix
	install -Dpm644 -t debian/tmp/usr/bin git-flow-init
	install -Dpm644 -t debian/tmp/usr/bin git-flow-log
	install -Dpm644 -t debian/tmp/usr/bin git-flow-release
	install -Dpm644 -t debian/tmp/usr/bin gitflow-shFlags
	install -Dpm644 -t debian/tmp/usr/bin git-flow-support
	install -Dpm644 -t debian/tmp/usr/bin git-flow-version
	cp -rfp git-flow-completion.bash debian/tmp/usr/share/bash-completion/completions/git-flow
	chmod 644 debian/tmp/usr/share/bash-completion/completions/git-flow
	cp -rfp hooks/* debian/tmp/usr/share/doc/git-flow/hooks
	chmod 644 debian/tmp/usr/share/doc/git-flow/hooks/*

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@
